<a href="https://colab.research.google.com/github/GAURAVSHINES/web/blob/master/pubg_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"gaurav146","key":"1c5fda47daf9e90b375722816e808ed2"}'}

In [2]:
!ls -lha kaggle.json

-rw-r--r-- 1 root root 65 Dec 14 16:16 kaggle.json

In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [7]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                           title                                                size  lastUpdated          downloadCount
------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
spscientist/students-performance-in-exams                     Students Performance in Exams                         8KB  2018-11-09 18:25:25           4547
jessicali9530/kuc-hackathon-winter-2018                       UCI ML Drug Review dataset                           40MB  2018-11-12 19:44:19             97
szamil/who-suicide-statistics                                 WHO Suicide Statistics                              307KB  2018-08-29 21:23:11           4390
mehdidag/black-friday                                         Black Friday                                          5MB  2018-07-25 20:49:48          19123
nguyenhoc/plane-crash                                         Historical Plane Crashes                            700KB  2018-11-21 04:32:41            813
kaggle/kaggle-survey-2018                                     2018 Kaggle ML & DS Survey Challenge                  4MB  2018-11-03 22:35:07           6407
iarunava/happy-house-dataset                                  Happy House Dataset                                   7MB  2018-09-07 06:33:10           1070
lava18/google-play-store-apps                                 Google Play Store Apps                                2MB  2018-09-18 20:49:49          26490
footprintnetwork/national-footprint-accounts-2018             National Footprint Accounts 2018                      3MB  2018-07-11 18:26:33            770
thedownhill/art-images-drawings-painting-sculpture-engraving  Art Images: Drawing/Painting/Sculptures/Engravings  581MB  2018-05-25 18:00:50            811
jrobischon/wikipedia-movie-plots                              Wikipedia Movie Plots                                30MB  2018-10-15 19:59:54            873
unitednations/un-general-debates                              UN General Debates                                   46MB  2017-09-05 23:12:36            659
robikscube/hourly-energy-consumption                          Hourly Energy Consumption                            11MB  2018-08-30 14:17:03           1791
sid321axn/amazon-alexa-reviews                                Amazon Alexa Reviews                                164KB  2018-07-31 17:45:14            910
jkkphys/english-wikipedia-articles-20170820-sqlite            English Wikipedia Articles 2017-08-20 SQLite          7GB  2018-11-27 21:54:22             95
olistbr/marketing-funnel-olist                                Marketing Funnel by Olist                           275KB  2018-11-16 14:00:20            233
septa97/100k-courseras-course-reviews-dataset                 100K Coursera's Course Reviews Dataset               12MB  2018-08-02 03:44:18            662
cityofLA/los-angeles-international-airport-data               Los Angeles International Airport Data              122KB  2018-12-13 22:04:28            836
huffingtonpost/pollster-congressional-districts               Pollster Congressional Districts                    530KB  2018-11-07 04:49:42             51
danofer/sarcasm                                               Sarcasm on Reddit                                   216MB  2018-05-27 08:19:04           1210

In [3]:
!kaggle datasets download -d skihikingkevin/pubg-match-deaths

Downloading pubg-match-deaths.zip to /content
100% 3.82G/3.83G [01:20<00:00, 55.0MB/s]
100% 3.83G/3.83G [01:20<00:00, 50.8MB/s]

In [0]:
import numpy as np
import pandas as pd

In [8]:
!ls

housesalesprediction.zip  kaggle.json  pubg-match-deaths.zip  sample_data

In [12]:
!unzip   pubg-match-deaths.zip

Archive:  pubg-match-deaths.zip
  inflating: aggregate.zip
  inflating: miramar.jpg
  inflating: erangel.jpg
  inflating: deaths.zip

In [13]:
!ls

aggregate.zip  erangel.jpg		 kaggle.json  pubg-match-deaths.zip
deaths.zip     housesalesprediction.zip  miramar.jpg  sample_data

In [15]:
!unzip aggregate.zip

Archive:  aggregate.zip
  inflating: agg_match_stats_0.csv
  inflating: agg_match_stats_1.csv
  inflating: agg_match_stats_2.csv
  inflating: agg_match_stats_3.csv
  inflating: agg_match_stats_4.csv

In [0]:
data = pd.read_csv("agg_match_stats_0.csv")

In [17]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13849287 entries, 0 to 13849286
Data columns (total 15 columns):
date                   object
game_size              int64
match_id               object
match_mode             object
party_size             int64
player_assists         int64
player_dbno            int64
player_dist_ride       float64
player_dist_walk       float64
player_dmg             int64
player_kills           int64
player_name            object
player_survive_time    float64
team_id                int64
team_placement         int64
dtypes: float64(3), int64(8), object(4)
memory usage: 1.5+ GB

In [18]:
data.head(5)

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.72400,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.40723,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.07739,2510.447000,175,2,GeminiZZZ,1537.495,14,11